/*
=============== 
general settings
===============
*/
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("ttf");
  src: url(./assets/fonts/static/Inter-Bold.ttf) format("ttf");
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format("ttf");
}

:root {
  /* COLORS */
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  /* TYPOGRAPHY */
  --fz-p: 15px;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
  --ff: "Inter", sans-serif;

  /* TRANSITION */
  --transition: all 0.3s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw-400);
}

ul,
li,
ol,
a {
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: var(--clr-soft-red);
}

p,
a {
  font-size: var(--fz-p);
  color: var(--clr-dark-grayish-blue);
}

img {
  max-width: 100%;
  height: 100%;
}

button {
  border: 0;
  padding: 15px 30px;
  font-size: 14px;
  letter-spacing: 4.38px;
  text-transform: uppercase;
  font-weight: var(--fw-700);
  background-color: var(--clr-soft-red);
  color: var(--clr-off-white);
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-very-dark-blue);
  transition: var(--transition);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1.25rem;
}

/*
=============== 
header
===============
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 69px;
  margin-bottom: 15px;
}

.nav-list {
  display: flex;
}

.nav-items:nth-child(-n+4) {
    margin-right: 30px;
}

.nav-items a:hover {
  color: var(--clr-soft-red);
  transition: var(--transition);
}

.icon-menu {
  display: none;
  cursor: pointer;
}

.icon-menu:hover {
  transition: var(--transition);
  transform: rotate(180deg);
}

/* ===> 
menu mobile 
<=== */
.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 63%;
  background-color: var(--clr-off-white);
  transform: translateX(100%);
  transition: var(--transition);
  z-index: 99;
}

.sidebar-open {
  transform: translateX(0);
  transition: var(--transition);
}

.mobile-nav-list {
  padding: 144px 29px 0px 24px;
}

.close-icon {
  position: absolute;
  right: 0;
  height: 32px;
  margin: 28px;
  cursor: pointer;
}

.close-icon:hover {
  transition: var(--transition);
  transform: rotate(90deg);
}

.mobile-nav-list > li {
  margin-bottom: 24px;
}

.overlay::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 0;
    height: 100%;
    z-index: 0;
}

.show-overlay::after {
    width: 100%;
}

/* ===>
end of menu mobile 
<=== */

/*
=============== 
news grid
===============
*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
  gap: 30px;
}

.banner-img {
  grid-column: span 2;
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  min-height: 300px;
  background-position: center;
  background-size: cover;
}

.grid h1 {
  grid-column: 1;
  grid-row: 2;
  font-weight: var(--fw-800);
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.read-more {
  grid-column: 2;
  grid-row: 2;
}

.read-more p {
  line-height: 26px;
  margin-bottom: 29px;
}

.news-container {
  grid-column: 3;
  grid-row: 1/3;
  background-color: var(--clr-very-dark-blue);
  padding: 2rem 1.5rem 0rem;
}

.news-container h2 {
  color: var(--clr-soft-orange);
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.news-container h3 {
  color: var(--clr-off-white);
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.news-container h3:hover {
  color: var(--clr-soft-orange);
  transition: var(--transition);
}

.news-container p {
  line-height: 26px;
}

.news-info p::after {
  content: "";
  display: block;
  border: 1px solid var(--clr-dark-grayish-blue);
  margin: 30px 0;
}


/*
=============== 
topic
===============
*/
.topic {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 130px;
  margin: 40px 0px 50px;
}

.topic img {
  margin-right: 10px;
}

.number {
  color: var(--clr-grayish-blue);
  font-size: 2rem;
  font-weight: var(--fw-700);
}

.topic-info h4 {
  font-weight: var(--fw-800);
  margin: 10px 0px;
  cursor: pointer;
}

.topic-info h4:hover {
  color: var(--clr-soft-red);
  transition: var(--transition);
}

.topic-info p {
  line-height: 26px;
  font-size: 15px;
}

/*
=============== 
footer
===============
*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
=============== 
media queries
===============
*/
@media (max-width: 1045px) {
  .header {
    margin-top: 20px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .banner-img {
    grid-column: span 2;
  }

  .grid h1 {
    grid-column: 1;
    grid-row: 2;
  }

  .read-more {
    grid-column: 2;
    grid-row: 2;
  }

  .news-container {
    grid-column: span 2;
    grid-row: 3;
  }

  .news-container {
    padding-bottom: 2rem;
  }

  .topic {
    margin-top: 0px;
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .banner-img,
  .grid h1,
  .read-more,
  .news-container {
    grid-column: 1;
    grid-row: unset;
  }

  .topic {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .nav-list {
    display: none;
  }

  .banner-img {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
  }

  .grid h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .icon-menu {
    display: block;
  }
}
